
    </div>
    <footer id="footer" class="footer bg-dark text-white text-center"> Martin Obermeier - {{getAnio}} - <a href = "mailto: martin.obermeier@gmail.com">martin.obermeier@gmail.com</a></footer>
    </div>
      <script>
        function salir() {
          //delete_cookie('token');
          //delete_cookie('usuario');
          localStorage.setItem('token', '');
          localStorage.setItem('usuario', '');
          
          window.location = "/";
        }
      </script>
      <script src="./assets/js/sweetalert.min.js"></script>

  </body>
</html>