
    </div>
    <footer id="footer" class="footer bg-dark text-white text-center"> Martin Obermeier - {{getAnio}} </footer>
    </div>
      <script>
        function salir() {
          delete_cookie('token');
          delete_cookie('usuario');
          
          window.location = "/";
        }
      </script>
      <script src="./assets/crystal-notification/js/crystalnotifications.min.js"></script>
      <script src="./assets/js/notificacion.js"></script>

  </body>
</html>