{{> head }}

{{> navbar }}

    <div class="starter-template text-center">
        <h1><i class="fa fa-check-square-o" aria-hidden="true"></i> Nueva tarea</h1>
        <br>
    </div>
    
    {{> taskForm }}

    <script src="./assets/js/newTask.js"></script>

{{> footer }}