{{> head }}

{{> navbar }}

<div class="container">
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <div>
                <h1 id="userName" class="text-center"></h1>
                <hr>
                <img src="" alt="User image" id="userImage" class="mx-auto d-block" width="150" height="150">
                <hr>
                <br>
                <div class="form-group">
                    <label><b>ID: </b></label>
                    <label id="userID" ></label>
                </div>
                <div class="form-group">
                    <label><b>Email: </b></label>
                    <label id="userEmail" ></label>
                </div>
                <div class="form-group">
                    <label><b>Rol: </b></label>
                    <label id="userRole" ></label>
                </div>
                <div class="form-group">
                    <label><b>Cuenta de google: </b></label>
                    <label id="userGoogle" ></label>
                </div>
                <div class="form-group">
                    <label><b>Activo: </b></label>
                    <label id="userState" ></label>
                </div>
                <hr>
                <br>
                <form id="actualizarFoto" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-lg-9">
                            <label for="archivo"><b>Actualizar imagen</b></label>
                            <input type="file" class="form-control-file" name="archivo" id="archivo">
                        </div>
                        <div class="col-lg-3">
                            <br>
                            <button class="btn btn-success" id="btnImagen"><i class="fa fa-refresh" aria-hidden="true"></i> Actualizar</button>
                        </div>
                    </div>
                    <br>
                    <hr>
                </form>
                <br>
                <form id="changePassword" >
                    <b>Cambiar contraseña</b>
                    <br>
                    <div class="input-group">
                        <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>
                    </div>
                    <div class="input-group">
                        <input type="password" id="inputNewPassword" name="password" class="form-control" placeholder="New password" required>
                    </div>
                    <div class="input-group">
                        <input type="password" id="inputNewPassword2" name="password" class="form-control" placeholder="Confirm new password" required>
                    </div>
                    <br>
                    <button class="btn btn-success text-center" id="btnSubmitNewPassword"><i class="fa fa-sign-in" aria-hidden="true"></i> Enviar</button>
                    <hr>
                    <br>
                </form>
            <br>
            </div>
        </div>
        <div class="col-lg-3"></div>
    </div>
</div>

<script src="./assets/js/account.js"></script>

{{> footer }}