    
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <div class="container-fluid">
        <a class="navbar-brand" href="#"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item active">
                        <a class="nav-link" href="tasks"><i class="fa fa-list" aria-hidden="true"></i> Tareas</a>
                    </li>
                    <li class="nav-item active" id="liAdminUsers">
                        <a class="nav-link" href="users"><i class="fa fa-user" aria-hidden="true"></i> Usuarios</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="contact"><i class="fa fa-envelope-o" aria-hidden="true"></i> Contacto</a>
                    </li>
                </ul>
                <ul class="navbar-nav float-right" id="menuUsuario">
                    <li class="nav-item dropdown active">
                        <a class="nav-link dropdown-toggle" href="#" id="nameUsuario" data-bs-toggle="dropdown" aria-expanded="false">Usuario</a>
                        <ul class="dropdown-menu" aria-labelledby="dropdown01">
                            <li><a class="dropdown-item" href="/account"><i class="fa fa-user" aria-hidden="true"></i> Cuenta</a></li>
                            <li><a class="dropdown-item" href="#" onclick="logout();"><i class="fa fa-sign-out" aria-hidden="true"></i> Salir</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <script>
        const urlApi = '{{urlApi}}';
        
        const token = localStorage.getItem('token');
        const userInfo = JSON.parse( localStorage.getItem('user') );
        
        if( token === null || token === '' || token === undefined ) {
            console.log('No se encontro token de autorización');
            window.location='login';

        } else {
            // Pongo el nombre del usuario para saber quien esta conectado
            document.querySelector('#nameUsuario').innerHTML = userInfo.name;

            if(userInfo.role != 'ADMIN_ROLE')
                document.querySelector('#liAdminUsers').style.display = 'none';

        }

        const logout = () => {

            if(userInfo.google) {
                window.location="google";

            } else {
                localStorage.setItem('token', '');
                localStorage.setItem('user', '');
            
                window.location="login";
            }

        }
    </script>