  <div class="container">
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <form>
                <hr>
                <br>
                <div class="form-group">
                    <label for="inputTitle"><b>Título</b></label>
                    <input class="form-control" id="inputTitle" type="text" placeholder="title">
                </div>
                <br>
                <div class="form-group">
                    <label for="inputDescription"><b>Descripción</b></label>
                    <textarea class="form-control" id="inputDescription" rows="3" placeholder="Descripción"></textarea>
                </div>
                <br>
                <div class="form-group date">
                    <label for="inputDate"><b>Fecha</b></label>
                    <input type="date" class="form-control" id="inputDate" >
                </div>
                <br>
                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" id="checkDone"> Completa
                    </label>
                </div>
                <hr>
                <div class="float-end">
                    <button class="btn btn-success" id="btnSave" type="submit"><i class="fa fa-floppy-o" aria-hidden="true"></i> Guardar</button>
                    <button class="btn btn-secondary" id="btnCancel" type="button" onclick="window.location='tasks';"><i class="fa fa-ban" aria-hidden="true"></i> Cancelar</button>
                </div>
            </form>
        </div>
        <div class="col-lg-3"></div>
    </div>
</div>