  <div class="container">
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <form>
                <hr>
                <br />
                <div class="form-group">
                    <label for="inputname"><b>Nombre</b></label>
                    <input class="form-control" id="inputname" type="text" placeholder="name">
                </div>
                <br />
                <div class="form-group">
                    <label for="inputEmail"><b>Email</b></label>
                    <input class="form-control" id="inputEmail" type="email" placeholder="Email">
                </div>
                <br />
                <div class="form-group">
                    <label for="inputPassword"><b>Password</b></label>
                    <input class="form-control" id="inputPassword" type="password" placeholder="Password" >
                    <div class="float-end" style="margin: 5px;">
                        <button id="btnForgotPassword" class="btn btn-primary" hidden="true">Restablecer</button>
                        <br />
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <label for="inputRole"><b>Role</b></label>
                    <select class="form-control" id="inputRole">
                        <option value="USER_ROLE">USER_ROLE</option>
                        <option value="ADMIN_ROLE">ADMIN_ROLE</option>
                    </select>
                </div>
                <br />
                <hr>
                <div class="float-end">
                    <button class="btn btn-success" id="btnSave" type="submit"><i class="fa fa-floppy-o" aria-hidden="true"></i> Guardar</button>
                    <button class="btn btn-secondary" id="btnCancel" type="button" onclick="window.location='users';"><i class="fa fa-ban" aria-hidden="true"></i> Cancelar</button>
                </div>
            </form>
        </div>
        <div class="col-lg-3"></div>
    </div>
    <br />
    <br />
</div>