{{> head }}

{{> navbar }}

    <div class="starter-template text-center">
        <h1><i class="fa fa-check-square-o" aria-hidden="true"></i> Nuevo usuario </h1>
        <br>
    </div>
    
    {{> user }}

    <script src="./assets/js/newUser.js"></script>
    <script src="./assets/js/validarAdmin.js"></script>

{{> footer }}